################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MCS.Jarvis.CE.Reports/.vs/MCS.Jarvis.CE.Reports/FileContentIndex/2ec93a9d-27f8-41af-8729-2d3e3d71afed.vsidx
/.vs
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.dll
*.exe
*.pdb
/build/
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp


# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/
*.pubxml
*.json
/MCS.Jarvis.CE/packages
*.pubxml
*.json
/MCS.Jarvis.CE/packages
/MCS.Jarvis.Integrations/GOPProcess
/MCS.Jarvis.CE/MCS.Jarvis.CE.BusinessProcesses/bin/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.BusinessProcesses/obj/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.BusinessProcesses/obj/Release
/MCS.Jarvis.CE/MCS.Jarvis.CE.Commons/bin/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.Commons/obj/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.Commons/obj/Release
/MCS.Jarvis.CE/MCS.Jarvis.CE.Customizations/obj/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.Customizations/bin/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.UnitTest/obj/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.Plugins/obj/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.Plugins/obj/Release
/MCS.Jarvis.CE/MCS.Jarvis.CE.Workflows/obj/Debug
/MCS.Jarvis.CE/MCS.Jarvis.CE.Workflows/bin/Debug
/MCS.Jarvis.CE/.vs/MCS.Jarvis.CE/v17/.suo
/.vs/slnx.sqlite








/MCS.Jarvis.CE/MCS.Jarvis.CE.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
